@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
    ViewData["Title"] = "User Page";
}
<h3>Hello from MyPartialView!</h3>

<section class="exclusive_item_part blog_item_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Popular Dishes</p>
                    <h2>Our Exclusive Items</h2>
                </div>
            </div>
        </div>
        @if (Model.Rows.Count > 3)
        {
            <div class="d-flex justify-content-end align-items-center mb-3">
                <div class="viewmore-button">Scroll To View More <img src="~/User/img/icon/left_2.svg" alt=""></div>
            </div>
        }
        <div class="d-flex restaurant-card-container">
            @foreach (DataRow dr in Model.Rows)
            {
                <div class="col-sm-6 col-lg-4">
                    <div class="single_blog_item">
                        <div class="single_blog_img position-relative">
                            <img src="@Url.Content(dr["RestaurantImage"].ToString())" alt="">
                            <form asp-area="" asp-controller="User" asp-action="ChangeFavourate">
                                @if (Convert.ToBoolean(dr["IsFavourate"]) == true)
                                {
                                    <input type="hidden" name="RestaurantID" value="@Convert.ToInt32(dr["RestaurantID"])" />
                                    <input type="hidden" name="IsFavourate" value="false" />
                                    <button class="favourate-icon-container"><i class="fa-solid fa-heart"></i></button>
                                }
                                else
                                {
                                    <input type="hidden" name="RestaurantID" value="@Convert.ToInt32(dr["RestaurantID"])" />
                                    <input type="hidden" name="IsFavourate" value="true" />
                                    <button class="favourate-icon-container"><i class="fa-regular fa-heart"></i></button>
                                }
                            </form>
                        </div>
                        <div class="single_blog_text">
                            <div class="fs-4">@dr["RestaurantName"]</div>
                            <style>

                                .rating {
                                    position: relative;
                                    appearance: none;
                                    color: transparent;
                                    width: auto;
                                    display: inline-block;
                                    vertical-align: baseline;
                                    background-color: green;
                                }

                                    .rating::before {
                                        content: '★★★★★';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        color: rgba(0, 0, 0, 0.2);
                                        --percentage: calc(@dr["Rating"]/5 * 100%);
                                        background-image: linear-gradient(90deg, yellow var(--percentage), rgba(0, 0, 0, 0.2) var(--percentage));
                                        -webkit-text-fill-color: transparent;
                                        -webkit-background-clip: text;
                                    }

                            </style>
                            <meter class="rating" min="0" max="10" value=@dr["Rating"]></meter>
                            <p>@dr["Address"]</p>
                            <p>@Convert.ToDateTime(dr["OpeningTime"]).ToLongTimeString() - @Convert.ToDateTime(dr["ClosingTime"]).ToLongTimeString()</p>
                            <a href="#" class="btn_3">Read More <img src="~/User/img/icon/left_2.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>